.bar {
  height: 8px;
  position: relative;
  background: #d9dce5;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgb(255 255 255 / 30%);
  width: 100px;
  cursor: pointer;

  .knob {
    position: absolute;
    margin-left: -10px;
    top: -6px;
    height: 20px;
    width: 20px;
    background-color: palevioletred;
    border-radius: 50%;
    cursor: move;
  }
}
